@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --card: #ffffff;
    --border: #e2e8f0;
  }

  .dark {
    --background: #1c1c1f;
    --foreground: #d1d1d6;
    --card: #2a2a2e;
    --border: #3a3a3e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}